.event__detail__container {
  width: 100%;
  /* height: 100vmax; */
  background-color: #eaedf1;
}

.event__detail__content {
  width: 70%;
  /* height: 100vmax; */
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
}

.event__detail__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event__detail__img img {
  width: 60%;
}

.event__detail__detail {
  margin-top: 40px;
}

.event__detail__detail p {
  text-indent: 2em;
}

.event__detail__period {
  margin: 20px 0;
}

.event__detail__calendar__tap {
  margin-top: 40px;
  display: flex;
  width: 100%;
  background-color: #000000;
}

.event__detail__calendar__tap .tap {
  margin: 0 5px;
  color: #ffffff;
  padding: 5px 0;
}

.event__detail__calendar__tap .tap:hover {
  cursor: pointer;
  background-color: gray;
  color: #000000;
}


/* modal */
.modal__book__event {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal__book__content {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px 40px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal__book__clear {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal__book__clear:hover {
  cursor: pointer;
}

.modal__book__event__head h2 {
  font-size: 24px;
  font-weight: 500;
}

.modal__book__event__btn {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}